.page-body {

  min-width: $mobile-width;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-family: $font;
  background: #FFFFFF;
  overflow-x: hidden;
}


// @include mobile {
//   .page-body {
//     font-size: 14px;
//     line-height: 17px;
//   }
// }
